<!DOCTYPE html>
<html ng-app="am">
  <head>
    <meta charset="utf-8">
    <title>Academy Manager</title>
  </head>
  <body>

    <div ng-controller="StudentCtrl as ctrl">
      <h1>{{ ctrl.student._id ? 'Edit' : 'Add' }} Student</h1>

      <ul>
        <li ng-repeat="message in ctrl.messages">
          {{ message }}
        </li>
      </ul>

      <form>
        <label for="name">Nome:</label>
        <input type="text" ng-model="ctrl.student.name">
        <br>

        <label for="cpf">CPF:</label>
        <input type="text" ng-model="ctrl.student.cpf">
        <br>

        <label for="rg">RG:</label>
        <input type="text" ng-model="ctrl.student.rg">
        <br>

        <label for="email">Email:</label>
        <input type="text" ng-model="ctrl.student.email">
        <br>

        <br>
        <input type="button" value="Save" ng-click="ctrl.save()">
        <br>
      </form>

      <table ng-init="ctrl.loadList()">
        <tr>
          <th>Name</th>
          <th>RG</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>

        <tr ng-repeat="student in ctrl.students">
          <td>{{ student.name }}</td>
          <td>{{ student.rg }}</td>
          <td>{{ student.email }}</td>
          <td>
            <button type="button" name="Edit" ng-click="ctrl.load(student)">Edit</button>
            <button type="button" name="Remove" ng-click="ctrl.remove(student)">Remove</button>
          </td>
        </tr>
      </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="/js/app.js"></script>

    <script src="/js/config/api-config.js"></script>

    <script src="/js/services/student-service.js"></script>

    <script src="/js/controllers/student-controller.js"></script>
  </body>
</html>
